include requirements.txt
include CONTRIBUTING.md
include LICENSE
include gitclone.example.yaml
include gitclone.global.example.yaml
recursive-include src *
recursive-include img *
recursive-include examples *